@use "./globals.scss" as *;

.home {
    position: relative;
    min-height: 100vh;

    &__container {
        padding: 1rem 2%;

        .content {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            text-align: center;

            .title {
                display: flex;
                flex-direction: column;

                .text {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;

                    h1 {
                        font-size: 4rem;
                        letter-spacing: 2px;
                        background: linear-gradient(to right, #000000, #26355d);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        max-width: 40%;
                        margin: 0 auto;
                    }

                    p {
                        font-size: 1.4rem;
                        max-width: 50%;
                        margin: 0 auto;
                        line-height: 1.5;
                    }

                    .btn {
                        position: relative;
                        width: 150px;
                        height: 70px;
                        background-color: $background;
                        backdrop-filter: blur(10px);
                        margin: 0 auto;
                        display: grid;
                        font-size: 1.3rem;
                        place-items: center;
                        border: 1px solid $text-c;
                        border-radius: 24px;
                        cursor: pointer;
                        z-index: 1;
                        overflow: hidden;
                        color: $text-c;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            color: $background;
                            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
                            &::after {
                                bottom: 0;
                                right: 0;
                            }
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            background-color: $primary-c;
                            border-bottom: 1px solid $text-c;
                            width: 100%;
                            height: 100%;
                            bottom: -30px;
                            right: -100%;
                            transition: all 0.3s ease-in-out;
                            border-radius: 24px;
                            z-index: -1;
                        }
                    }
                }
            }

            .img {
                transform: translateZ(0);
                transition: transform 0.3s ease-in-out;
                margin-top: 2rem;
                border-radius: 12px;
                overflow: hidden;

                .parallax__image {
                    width: 100%;
                    height: 100%;
                    border-radius: 12px;
                    object-fit: cover;

                    @media only screen and (max-width: 468px) {
                        height: auto;
                    }
                }
            }
        }
    }

    .bg {
        position: absolute;
        top: -10%;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
        background-size: cover;
    }
}

.news__product {
    margin-top: -5rem;
    .product__container {
        padding: 1rem 2%;

        .heading {
            display: flex;
            flex-direction: column;
            margin-bottom: 3rem;

            h1 {
                font-size: 2rem;
            }
        }

        .content {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 2rem;
            row-gap: 3rem;

            .box {
                width: 100%;
                padding: 1rem;
                background-color: hsla(0, 0%, 100%, 0.1);
                backdrop-filter: blur(10px);
                border-radius: 12px;
                border: 1px solid $text-c;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                gap: 2rem;
                transition: all 0.3s ease-in-out;
                position: relative;

                &:hover {
                    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
                    .overlay {
                        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                    }
                }

                .img {
                    width: 100%;

                    img {
                        width: 100%;
                        height: 250px;
                        object-fit: cover;
                        border-radius: 6px;
                    }
                }

                .date {
                    font-size: 1.2rem;
                    color: $text-c;
                    letter-spacing: 2px;
                }

                h1 {
                    font-size: 1.7rem;
                    letter-spacing: 2px;
                }

                span {
                    font-size: 1.5rem;
                    letter-spacing: 2px;
                    color: $primary-c;
                }

                .overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 3rem;
                    overflow: hidden;
                    z-index: 1;
                    background-color: rgba(0, 0, 0, 0.907);
                    backdrop-filter: blur(10px);
                    border-radius: 12px;
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;
                    a {
                        color: $background;
                        font-size: 1.5rem;
                        letter-spacing: 2px;
                        width: 60px;
                        height: 60px;
                        display: grid;
                        place-items: center;
                        border-radius: 50%;
                        background-color: $primary-c;
                        border: 1px solid $background;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            background-color: $background;
                            color: $primary-c;
                        }
                    }

                    button {
                        color: $background;
                        font-size: 1.5rem;
                        letter-spacing: 2px;
                        width: 60px;
                        height: 60px;
                        display: grid;
                        place-items: center;
                        border-radius: 50%;
                        background-color: $primary-c;
                        border: 1px solid $background;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            background-color: $background;
                            color: $primary-c;
                        }
                    }
                }
            }
        }
    }

    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        z-index: 1000;

        .modal-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            height: 90%;
            display: flex;
            justify-content: space-between;
            background-color: $background;
            border-radius: 12px;
            padding: 1rem;
            padding-top: 2rem;
            overflow: scroll;

            &::-webkit-scrollbar {
                width: 2px;
                height: 0;
            }

            &::-webkit-scrollbar-thumb {
                background-color: $primary-c;
                border-radius: 12px;
            }

            .modal-header {
                width: 50%;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 1rem;

                .image {
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .top {
                        width: 100%;
                        margin-bottom: 0.5rem;
                        position: relative;

                        .swiper-slide-preview {
                            width: 100%;
                            height: 100%;
                            border-radius: 12px;

                            img {
                                width: 100%;
                                height: auto;
                                object-fit: cover;
                                border-radius: 12px;
                            }
                        }

                        .swiper-button-next,
                        .swiper-button-prev {
                            padding: 1rem 1.5rem;
                            background-color: $primary-c;
                            border-radius: 50%;
                        }

                        .swiper-button-prev,
                        .swiper-button-next {
                            &::after {
                                font-size: 15px;
                                font-weight: bold;
                            }
                        }
                    }

                    .bottom {
                        width: 100%;
                        padding: 0.5rem;
                        position: relative;

                        .swiper-slide-thumbnail {
                            width: 100%;
                            opacity: 0.4;
                            transition: all 0.3s ease-in-out;
                            border-radius: 6px;

                            &:hover {
                                opacity: 1;
                            }

                            &.swiper-slide-thumb-active {
                                opacity: 1;
                                border: 1px solid $primary-c;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                cursor: pointer;
                            }
                        }
                    }
                }

                .text {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;

                    .header__modal {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 1rem;

                        p {
                            font-size: 1.2rem;
                            letter-spacing: 2px;
                        }

                        .modal-price {
                            padding: 0.5rem;
                            background-color: $primary-c;
                            color: $background;
                            border-radius: 6px;
                            letter-spacing: 2px;
                        }
                    }

                    h1 {
                        font-size: 2rem;
                        letter-spacing: 2px;
                    }

                    .type-select {
                        display: flex;
                        align-items: center;
                        gap: 1rem;
                        margin-bottom: 0.5rem;
                        label {
                            font-size: 1.2rem;
                            letter-spacing: 2px;
                        }

                        select {
                            padding: 0.5rem;
                            border-radius: 6px;
                            border: 1px solid $text-c;
                            font-size: 1.2rem;
                            letter-spacing: 2px;

                            option {
                                font-size: 1.2rem;
                                letter-spacing: 2px;
                            }

                            &:focus {
                                outline: none;
                            }
                        }
                    }

                    .footer__modal {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 1rem;
                        margin-top: 0.5rem;

                        .live-priview {
                            display: flex;
                            gap: 0.5rem;
                            align-items: center;

                            label {
                                font-size: 1.2rem;
                                letter-spacing: 2px;
                            }

                            .view-more-btn {
                                font-size: 1.2rem;
                                letter-spacing: 2px;
                                text-decoration: none;
                                color: $primary-c;
                                transition: all 0.3s ease-in-out;

                                &:hover {
                                    color: $text-c;
                                    text-decoration: underline;
                                }
                            }
                        }

                        .tags-section {
                            display: flex;
                            align-items: center;
                            gap: 1rem;
                            label {
                                font-size: 1.2rem;
                                letter-spacing: 2px;
                            }

                            .tags-container {
                                display: flex;
                                align-items: center;
                                gap: 1rem;
                                flex-wrap: wrap;

                                .tag {
                                    font-size: 1.2rem;
                                    letter-spacing: 2px;
                                    padding: 0.5rem;
                                    background-color: $background;
                                    color: $primary-c;
                                    border: 1px solid $primary-c;
                                    border-radius: 6px;
                                    transition: all 0.3s ease-in-out;
                                    &:hover {
                                        background-color: $primary-c;
                                        color: $background;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .modal-details {
                width: 100%;
                padding: 1rem;
                display: flex;
                flex-direction: column;

                .content-description {
                    max-width: 800px;
                    margin: 0 auto;
                    padding: 2rem;
                    color: $text-c;
                    line-height: 1.6;
                    font-family:
                        system-ui,
                        -apple-system,
                        sans-serif;

                    h1 {
                        font-size: 2.5rem;
                        color: $text-c;
                        margin-bottom: 1.5rem;
                        line-height: 1.5;
                    }

                    h2 {
                        font-size: 2rem;
                        color: $text-c;
                        margin: 2rem 0 1rem;
                        border-bottom: 2px solid $primary-c;
                        padding-bottom: 0.5rem;
                    }

                    h3 {
                        font-size: 1.5rem;
                        color: $text-c;
                        margin: 1.5rem 0 1rem;
                    }

                    p {
                        margin-bottom: 1.4rem;
                        color: $text-c;
                        font-size: 1.5rem;
                    }

                    blockquote {
                        background: #f9f9f9;
                        border-left: 4px solid $primary-c;
                        margin: 2rem 0;
                        padding: 1.5rem 2rem;
                        border-radius: 0.5rem;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

                        p {
                            font-style: italic;
                            color: $text-c;
                            margin: 0;
                        }
                    }

                    ul {
                        margin-bottom: 1.4rem;
                        color: $text-c;
                        padding-left: 2rem;
                        li {
                            margin-bottom: 0.7rem;
                            color: $text-c;
                            font-size: 1.5rem;
                            list-style: disc;
                        }
                    }
                }
            }
        }
    }
}
